/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
#wanaham-post-alternate-link .inside{
    display:table;
    width: 98%;
}
.wanaham_alternate_add_btn_container{
    width:100%;
    margin-bottom: 10px;
}
#wanaham-post-alternate-link .wanaham_alternate_link_box{
    float: left;
    width: 375px;
    display: table;
    margin: 5px;
    border: 1px solid #DDD;
    padding: 20px 10px 20px 10px;
    position: relative;
}
#wanaham-post-alternate-link .wanaham_alternate_link_box a{
    position:absolute;
    top:5px;
    right:5px;
    color:red;
    line-height: 28px;
}
#wanaham-post-alternate-link .wanaham_alternate_link_box p{
    visibility: hidden;
    clear: both;
    margin-left: 127px;
    text-align: left;
    color: red;
    font-weight: bold;
}
#wanaham-post-alternate-link .wanaham_alternate_link_box p.visible{
    visibility: visible;
}
#wanaham-post-alternate-link .wanaham_alternate_link_box.hidden{
    display:none;
}
#wanaham-post-alternate-link .wanaham_alternate_link_box > label,
#wanaham-post-alternate-link .wanaham_alternate_link_box > input{
    float:left;
}
#wanaham-post-alternate-link .wanaham_alternate_link_box > label{
    width:115px;
    text-align: right;
    margin-right:10px;
}